<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1024" />
    <title>A Post-Minkowskian EFT for the Gravitational Two-Body Problem</title>
    
    <meta name="description" content="Presentation Slides made with impress.js" />
    <meta name="author" content="Gregor Kaelin" />

	<script type="text/x-mathjax-config">
	  MathJax.Hub.Config({
      "HTML-CSS": {
	  scale: 90,
	  styles: {
      '.MathJax_Display': {
      "margin": "20px 0"
      }
      }
	  },
	  TeX: { extensions: ["color.js"] },
	  });
	</script>
	<script type="text/javascript" src="extras/mathjax/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

    <link href="css/main.css" rel="stylesheet" />
    <link rel="shortcut icon" href="favicon.png" />
    <link rel="apple-touch-icon" href="apple-touch-icon.png" />
  </head>

  <body class="impress-not-supported">

	<div class="fallback-message">
      <p>Your browser <b>doesn't support the features required</b> by impress.js, so you are presented with a simplified version of this presentation.</p>
      <p>For the best experience please use the latest <b>Chrome</b>, <b>Safari</b> or <b>Firefox</b> browser.</p>
	  <p>
		$$
		\definecolor{desyOrange}{RGB}{242,142,0}
		\DeclareMathOperator{\Arcsinh}{arcsinh}
		\DeclareMathOperator{\Arctan}{arctan}
		\DeclareMathOperator{\arcosh}{arcosh}
		\newcommand\dd{{\mathrm d}}
		\newcommand{\bb}{{\mathbf b}}
		\newcommand{\bk}{{\mathbf k}}
		\newcommand{\bl}{{\mathbf l}}
		\newcommand{\bm}{{\mathbf m}}
		\newcommand{\bn}{{\mathbf n}}
		\newcommand{\bp}{{\mathbf p}}
		\newcommand{\bq}{{\mathbf q}}
		\newcommand{\br}{{\mathbf r}}
		\newcommand{\bw}{{\mathbf w}}
		\newcommand{\bx}{{\mathbf x}}
		\newcommand{\by}{{\mathbf y}}
		\newcommand{\bz}{{\mathbf z}}
		\newcommand\cM{\mathcal{M}}
		\newcommand\cO{\mathcal{O}}
		\newcommand{\cD}{\mathcal{D}}
		\newcommand\cE{\mathcal{E}}
		\newcommand\cS{\mathcal{S}}
		\newcommand\cP{\mathcal{P}}
		\newcommand\cF{\mathcal{F}}
		\newcommand\cL{\mathcal{L}}
		\newcommand\Mp{M_{\rm Pl}}
		$$
	  </p>
	</div>

	<div id="impress">

	  <div id="title" class="step" data-x="0" data-y="0">
		<h1>(Quantum) Field Theory from the LHC to the Einstein Telesc<span class="orange">o</span>pe</h1>
		<p class="margin-bottom30">Work with Rafael Porto & Zhengwen Liu in<br/>
		  <a href="http://arxiv.org/abs/arXiv:1910.03008">[1910.03008]</a>
		  <a href="http://arxiv.org/abs/arXiv:1911.09130">[1911.09130]</a>
		  <br/>
		  <a href="http://arxiv.org/abs/arXiv:2006.01184">[2006.01184]</a>
		  <a href="http://arxiv.org/abs/arXiv:2007.04977">[2007.04977]</a>
		  <br/>
		  <a href="http://arxiv.org/abs/arXiv:2008.06047">[2008.06047]</a>
		</p>
		
		<img id="scatteringFig" src="figures/scattering.svg" alt="scattering">
		<img id="orbitFig" src="figures/orbit.svg" alt="orbit">
		
		<p id="author">
		  Gregor Kälin
		</p>

		
		<div class="margin-top50 margin-bottom30">
		  <img id="kawFig" src="figures/logo_KAW.png" alt="kaw">
		  <img id="desyFig" src="figures/logo_DESY.png" alt="desy">
		  <img id="slacFig" src="figures/SLAC.png" alt="slac">
		</div>
		
		<div>
		  <i>
			Quantum Universe Day 17.11.2020
		  </i>
		</div>
		<div>
		  <img id="ercFig" src="figures/erc.svg" alt="erc">
		  <img id="euFig" src="figures/eu.svg" alt="eu">
		</div>
	  </div>
	  

	  <!--
	  <div id="mergerClip" class="step" data-rel-x="1700" data-rel-y="0">
		<div class="center">
		  <video width="1056" height="594" loop muted>
			<source src="figures/BHMerger.mp4" type="video/mp4">
		  </video>
		  <a class="ref small" href="https://www.aei.mpg.de/2111920/gw170814">
			[NR simulation: Ossokine, Buonanno; Visualization: Dietrich, Haas]
		  </a>
		</div>
	  </div>
	  -->

	  <div id="mergerBreakdown" class="step" data-rel-x="1700" data-rel-y="0">
		<h2>Merger breakd<span class="orange">o</span>wn</h2>
		<p class="center">
		  <img id="waveformFig" src="figures/waveform.svg" alt="waveform">
		</p>
	  </div>

	  <div id="inspiral" class="step" data-rel-x="0" data-rel-y="500">
		<h3 class="purple"><span class="h3span">inspiral<span class="orange">:</span> analytic (many cycles!)</span></h3>
		<ul>
		  <li>Goal: Compute effective two-body Hamiltonian (+ radiative losses)
			$$\begin{aligned}
			H\sim G(1+v^2+v^4+v^6+\dots&)\\
			+ G^2(1+v^2+v^4+\dots&)\\
			+ G^3(1+v^2+\dots&) + \dots\\
			\end{aligned}
			$$
		  </li>
		  <li>Various directions:
			<ul>
			  <li>Conservative potential</li>
			  <li>Spinning objects</li>
			  <li>Radiation</li>
			  <li>Radiation reaction (tail effects)</li>
			  <li>Inner structure & tidal deformations (BH vs NS)</li>
			  <li>...</li>
			</ul>
		  </li>
		</ul>
	  </div>

	  <div id="inspiral1" class="step" data-rel-x="0" data-rel-y="530">
		<ul>
		  <li>Post-Newtonian: expansion in \(v^2\sim\frac{Gm}{r}\ll 1\)
			<ul>
			  <li class="refInline">
				[Droste, Lorentz 1917; ...; Einstein, Infeld, Hoffmann 1938]
			  </li>
			  <li class="refInline">
				[Blanchet, Damour, Iyer, Faye, Bernard, Bohe’, Buonanno, Marsat; Jaranowski, Schäfer, Steinhoff; Will, Wiseman; Flanagan, Hinderer, Vines; Goldberger, Porto, Rothstein; Kol, Levi, Smolkin; Cristofoli, Mastrolia, Foffa, Sturani, Torres-Bobadilla; Blümlein, Maier, Marquard, Schäfer;...]
			  </li>
			</ul>
		  </li>
		</ul>
		<ul>
		  <li>Post-Minkowskian: expansion in \(G\)
			<ul>
			  <li>"Classical GR" methods <span class="refInline">
				[Bertotti; Westpfahl, Goller; Bel, Damour, Deruelle, Ibanez, Martin; Ledvinka, Schäfer, Bicak; ...]
			  </span></li>
			  <li>Using perturbation theory: Scattering amplitudes <span class="refInline">[Cheung, Rothstein, Solon; Neill, Rothstein; Bjerrum-Bohr, Damgaard, Festuccia, Planté, Vanhove; Guevara, Ochirov, Vines; Damour; Cristofoli, Di Vecchia, Heissenberg, Veneziano, Russo; Parra-Martinez, Ruf, Zeng;... ]</span></li>
			  <li>First 3PM result <a class="refInline" href="https://journals.aps.org/prl/abstract/10.1103/PhysRevLett.122.201603">[Bern, Cheung, Roiban, Shen, Solon, Zeng 2018/2019]</a></li>
			</ul>
		  </li>
		</ul>
	  </div>

	  <div id="PNvsPM" class="step vanishPast" data-rel-x="0" data-rel-y="0" data-rotate-y="90">
		<h1>PN vs PM<span style="color: #F28E00">.</span></h1>
		<p class="center">
		  State of the art for the conservative potential (non-spinning)
		  <a class="ref small" href="https://indico.cern.ch/event/646820/contributions/2992834/attachments/1671861/2682461/Amplitudes-2018-AB.pdf">Buonanno@Amplitudes2018</a>
		  <table class="tablePNPM">
			<thead>
			  <tr><th></th> <th></th> <th scope="col">0PN</th> <th scope="col">1PN</th> <th scope="col">2PN</th> <th scope="col">3PN</th> <th scope="col">4PN</th> <th scope="col">5PN</th> <th scope="col">6PN</th></tr>
			</thead>
			<tbody>
			  <tr><th scope="row">0PM</th> <td>$$~~1~~$$</td> <td>$$v^2$$</td> <td>$$v^4$$</td> <td>$$v^6$$</td> <td>$$v^8$$</td> <td>$$v^{10}$$</td> <td>$$v^{12}$$</td> <td>$$v^{14}$$</td></tr>
			  <tr><th scope="row">1PM</th> <td/> <td>$$1/r$$</td> <td>$$v^2/r$$</td> <td>$$v^4/r$$</td> <td>$$v^6/r$$</td> <td>$$v^8/r$$</td> <td>$$v^{10}/r$$</td> <td>$$v^{12}/r$$</td></tr>
			  <tr><th scope="row">2PM</th> <td/> <td/> <td>$$1/r^2$$</td> <td>$$v^2/r^2$$</td> <td>$$v^4/r^2$$</td> <td>$$v^6/r^2$$</td> <td>$$v^8/r^2$$</td> <td>$$v^{10}/r^2$$</td></tr>
			  <tr><th scope="row">3PM</th> <td/> <td/> <td/> <td>$$1/r^3$$</td> <td>$$v^2/r^3$$</td> <td>$$v^4/r^3$$</td> <td>$$v^6/r^3$$</td> <td>$$v^8/r^3$$</td></tr>
			  <tr><th scope="row">4PM</th> <td/> <td/> <td/> <td/> <td>$$1/r^4$$</td> <td>$$v^2/r^4$$</td> <td>$$v^4/r^4$$</td> <td>$$v^6/r^4$$</td></tr>
			</tbody>
		  </table>
		</p>
	  </div>

	  <div id="merger" class="step" data-rel-x="0" data-rel-y="450" data-rel-to="inspiral1">
		<h3><span class="h3span">merger<span class="orange">:</span> numerical relativity (high velocities!)<span></h3>
		<ul>
		  <li>Perturbation theory breaks down.
		  <li>See breakthrough papers: <span class="refInline">[Pretorius '05; Campanelli et al. '06, Baker et al. '06]</span></li>
		</ul>
		<br/>
		<h3><span class="h3span">ringdown<span class="orange">:</span> blackhole perturbation theory</span></h3>
		<ul>
		  <li>Model the system as excitations of a single massive body.</li>
		</ul>
	  </div>

	  <div id="main" class="step" data-rel-x="1700" data-rel-to="mergerBreakdown">
		<h2>Bound-t<span class="orange">o</span>-boundary (B2B) relations</h2>
		<p class="center">
		  <img id="mainFig" src="figures/main.svg" alt="scattering">
		</p>
	  </div>

	  <div id="pmeft" class="step" data-rel-x="1700">
		<h2>PM-EFT for a w<span class="orange">o</span>rldline action coupled to GR</h2>
		<ul>
		  <li>We are only interested in <em>classical</em> physics</li>
		  <li>Perturbative expansion in \(G\): can use particle physics/amplitudes toolbox</li>
		  <li>Today: only interested in <em>conservative</em> effects</li>
		</ul>
		<h3><span class="h3span">Full the<span class="orange">o</span>ry</span></h3>
		<p class="center">
	      $$\begin{align}
		  S_{\rm EH} &= -2\Mp^2 \int \dd^4x \sqrt{-g} \, R[g]\\
		  S_{\rm pp} &= - \sum_a m_a \int \dd\sigma_a \sqrt{g_{\mu\nu}(x^\alpha_{a}(\sigma)) v_{a}^\mu(\sigma_a) v_{a}^\nu (\sigma_a)} + \dots\\
		  &\rightarrow -\sum_a \frac{m_a}{2} \int \dd\tau_a\,  g_{\mu\nu}(x_{a}(\tau_a)) v_{a}^\mu(\tau_a) v_{a}^\nu (\tau_a)+\dots
		  \end{align}$$
		</p>
		Extensions to finite-size effects and spinning bodies are simple to systematically implement in this formalism <span class="refInline">[see Zhengwen's talk]</span>
	  </div>

	  <div id="pmeft2" class="step" data-rel-x="0" data-rel-y="680">
		<h3><span class="h3span">From the EFT acti<span class="orange">o</span>n to trajectories </span></h3>
		<p class="centerLeft">
		  $$e^{i S_{\rm eff}[x_a] } = \int \cD h_{\mu\nu} \, e^{i S_{\rm EH}[h] + i S_{\rm GF}[h] + i S_{\rm pp}[x_a,h]}$$
		  <img id="graphsEFTFig" src="figures/graphsEFT.svg" alt="graphsEFT">
		</p>
		E.o.m. from variation of the action allows us to compute the trajectories order by order:
		$$x^\mu_a(\tau_1) = b^\mu_a + u^\mu_a \tau_a + \sum_n G^n \delta^{(n)} x^\mu_a (\tau_a)$$
		with \(b=b_1-b_2\) the impact parameter and \(u_a\) the incoming velocty at infinity, fulfilling
		$$u_1\cdot u_2 = \gamma\,, \quad u_a\cdot b = 0\,.$$
	  </div>

	  <div id="pmeft3" class="step" data-rel-x="0" data-rel-y="680">
		<h3><span class="h3span">Scattering angle<span class="orange">.</span></span></h3>
		First we compute the deflection using above trajectories:
		$$\Delta p^\mu_1= m_1\Delta v^\mu_1 = - \eta^{\mu\nu} \sum_n \int_{-\infty}^{+\infty} \dd\tau_1 {\partial \cL_n  \over\partial x^\nu_1}\,,$$
		
		Physical scattering angle is then simply
		$$2\sin\left(\frac{\chi}{2}\right)  = \frac{|\Delta \bp_{1{\rm cm}} |}{p_\infty}= \frac{\sqrt{-\Delta p_1^2}}{p_\infty}$$
		<p class="center">
		<img id="scatteringFig" src="figures/scattering.svg" alt="scattering"/>
		</p>
	  </div>

	  <div id="Dpres" class="step" data-rel-x="0" data-rel-y="700">
		<h3><span class="h3span">Results<span class="orange">.</span></span></h3>
		$$\frac{\chi}{2} = \sum_{n=1} \chi^{(n)}_b \left(\frac{GM}{b}\right)^n $$		
		Up to 3PM (agreeing with <a class="refInline" href="https://journals.aps.org/prl/abstract/10.1103/PhysRevLett.122.201603">[Bern, Cheung, Roiban, Shen, Solon, Zeng 2018/2019]</a>):
		$$\begin{align}
		\frac{\chi^{(1)}_b}{\Gamma} &= \frac{2\gamma^2-1}{\gamma^2-1}\\
		\frac{\chi^{(2)}_b}{\Gamma} &= \frac{3\pi}{8} \frac{5\gamma^2-1}{\gamma^2-1}\\
		\frac{\chi^{(3)}_b}{\Gamma} &= \frac{1}{(\gamma^2-1)^{3/2}}\Bigg[-\frac{4\nu}{3} \gamma\sqrt{\gamma^2-1}(14\gamma^2+25)\frac{(64\gamma^6-120\gamma^4+60\gamma^2-5)(1+2\nu(\gamma-1))}{3(\gamma^2-1)^{3/2}}\\
		&\quad-  8\nu (4\gamma^4-12\gamma^2-3)\Arcsinh\sqrt{\frac{\gamma-1}{2}}\,\Bigg]
		\end{align}$$
		with \(\gamma = u_1\cdot u_2\), \(\Gamma=\sqrt{1+2\nu(\gamma-1)}\), \(\nu=m_1m_2/M^2\).
	  </div>

	  <div class="step" data-rel-x="0" data-rel-y="0" data-rel-to="main">
	  </div>
	  
	  <div id="B2B" class="step" data-rel-x="1700" data-rel-y="0" data-rel-to="pmeft">
		<h2>Boundary-T<span class="orange">o</span>-Bound (B2B) dictionary</h2>
		Conservative motion described by a Hamiltonian:
		$$H(\bp,r) = E \quad \Longrightarrow \quad \bp(r,E)$$
		Scattering angle:
		$$\chi(b,E) +\pi = 2b \int_{r_{\rm min}}^\infty \frac{\dd r}{r\sqrt{r^2\bar\bp^2(r,E)-b^2}}$$
		with \(r_\textrm{min}\) the positive real root of \(p_r\): \(p_r^2(r,E)=\bp^2(r,E)-J^2/r^2\).
		<br/>
		Periastron advance:
		$$\Delta \Phi + 2\pi =  2J \int_{r_-}^{r_+} \frac{\dd r}{r\sqrt{r^2\bp^2(r,E)-J^2}}$$
		Don't forget: \(J=p_\infty b\), \(\bar\bp = \bp/p_\infty\).
	  </div>

	  <div id="impetus" class="step" data-rel-x="0" data-rel-y="0" data-rotate-y="90">
		<h2>Interlude: Impetus f<span class="orange">o</span>rmula</h2>
		In <a class="refInline" href="http://arxiv.org/abs/arXiv:1910.03008">[1910.03008, w/ R. Porto]</a> we found a formula relating the classical IR-finite part of the 2-to-2 scattering amplitude to the momentum along the trajectory:
		<div class="center">
		<div class="centerBox">
		  \(\mathbf{p}^2(r,E) = p_\infty^2(E) + \widetilde{\cM}(r,E)\)
		</div>
		</div>
		with
		$${\widetilde{\cM}}(r,E) \equiv \frac{1}{2E}\int \frac{\dd^3\bq}{(2\pi)^3}\, {\cal M}(\bq,\bp^2=p_\infty^2(E)) e^{-i\bq\cdot \br}$$
		Relation to scattering angle can be inverted using Firsov's formula <span class="refInline">[Firsov 53]</span>.
	  </div>

	  <div class="step" data-rel-x="0" data-rel-y="0" data-rel-to="B2B">
	  </div>

	  <div id="orbitEl1" class="step" data-rel-x="0" data-rel-y="750">
		<h3><span class="h3span"><span class="orange">O</span>rbital Elements</span></h3>
		<div class="center">
		  <img id="scatteringFig" src="figures/scattering.svg" alt="scattering">
		  vs.
		  <img id="orbitFig" src="figures/orbit.svg" alt="orbit">
		</div>
		$$r_{\textrm{min}} = \tilde r_- \overset{\textrm{Firsov}}{=}  b \exp\left[ -\frac{1}{\pi} \int_{b}^\infty \frac{\chi(\tilde b,E)\dd\tilde b}{\sqrt{\tilde b^2-b^2}}\right]$$
		Do an analytic continuation in \(J=p_\infty b\) with \(b\in i\mathbb{R}\)  (\(p_\infty^2\leq0\)):
		$$\begin{align*}
		r_-(J) &= r_{\textrm{min}}(b)\\
		r_+(J) &= r_-(-J) = r_{\textrm{min}}(-b)
		\end{align*}$$
		These are the two real positive roots of \(p_r\): \(p_r^2(r,E)=\bp^2(r,E)-J^2/r^2\) with \(J=p_\infty b\)
	  </div>

	  <div class="step" data-rel-x="0" data-rel-y="0" data-rel-to="B2B">
	  </div>
	  
	  <div id="B2B2" class="step" data-rel-x="0" data-rel-y="0">
		<span id="rP" class="vanishPast">\(\textcolor{desyOrange}{\tiny r_\textrm{min}(-J)}\)</span>
		<span id="rM" class="vanishPast">\(\textcolor{desyOrange}{\tiny r_\textrm{min}(J)}\)</span>
		<span id="intPeriastron" class="vanishPast">
		  $$\begin{align}
		  &=2J \int_{r_\textrm{min}(J)}^{\infty} \frac{\dd r}{r\sqrt{r^2\bp^2(r,E)-J^2}}\\
		  &\quad-2J \int_{r_\textrm{min}(-J)}^{\infty} \frac{\dd r}{r\sqrt{r^2\bp^2(r,E)-J^2}}\\
		  &=\chi(J,E)+\chi(-J,E)+2\pi
		  \end{align}$$
		  </span>
	  </div>
	  

	  <div id="observables" class="step" data-rel-x="1700" data-rel-y="0">
		<h2>Observables for the b<span class="orange">o</span>und state</h2>
		We could now compute the potential (we derived a formula to all orders in PM expansion)! But there's a more direct way to get observables. <br/>
		We already saw that the periastron advance can be extracted from the angle/amplitude. In PM language:
		  $$\Delta\Phi = \pi \frac{\widetilde\cM_2}{\mu^2M^2 j^2} +\frac{3\pi}{4}\frac{1}{M^4 \mu^4 j^4}\big(\widetilde\cM_2^2+2\widetilde\cM_1\widetilde\cM_3+2p_\infty^2\widetilde\cM_4\big)+\cdots$$
	  </div>

	  <div class="step" data-rel-x="0" data-rel-y="0" data-rel-to="main">
	  </div>

	  <div class="step" data-rel-x="0" data-rel-y="500" data-rel-to="observables">
		<h3><span class="h3span">The radial acti<span class="orange">o</span>n</span></h3>
		$$\frac{\Delta \Phi+2\pi}{2\pi} = - \frac{\partial  \cS_r(J,\cE)}{\partial J}= -\frac{\partial}{\partial J} \frac{1}{\pi} \int_{r_-}^{r_+} \sqrt{\bp^2(r,{\cal E})-J^2/r^2}$$
		Simply integrate in \(J\) and find the boundary term:
		$$i_r = \frac{{\cal S}_r}{GM\mu} =  {\rm sg}(\hat p_\infty)\chi^{(1)}_j(\cE) - j \left(1 + \frac{2}{\pi} \sum_{n=1}  \frac{\chi^{(2n)}_j({\cE})}{(1-2n)j^{2n}}\right)$$
		with \(\chi_j^{(n)} = \left(\frac{p_\infty}{M\nu}\right)^n \chi_b^{(n)}\).

		Or in amplitudes language:
		$$i_r =  -j +  \frac{{\widetilde \cM}_1}{2 \sqrt{ -\hat p^2_\infty}M \mu^2} + \frac{{\widetilde \cM}_2}{2 jM^2\mu^2} + \frac{{\widetilde \cM}_2^2 +2 {\widetilde \cM}_1{\widetilde \cM}_3+2 p_\infty^2 {\widetilde \cM}_4}{8j^3M^4\mu^4}+\cdots$$
	  </div>

	  

	  <div id="obsEx" class="step" data-rel-x="0" data-rel-y="600">
		<h3><span class="h3span"><span class="orange">O</span>bservables: examples</span></h3>
		<div class="refParent">
		  <a class="ref" href="https://doi.org/10.1103/PhysRevD.62.044024">
			[Damour, Jaranowski, Schäfer 00]
		  </a>
		</div>
		<ul class="margin-bottom30">
		  <li>Periastron advance:
			\(\frac{\Delta\Phi}{2\pi} = -\frac{\partial}{\partial j} \cS_r(j,\cE)-1\)
		  </li>
		  <li>Periastron-to-periastron period:
			\(\frac{T_p}{2\pi} = \frac{1}{\mu}\frac{\partial}{\partial \cE} \cS_r(j,\cE)\)
		  </li>
		  <li>Radial frequency:
			\(\Omega_r (j,\cE) = \frac{2\pi}{T_p}\)
		  </li>
		  <li>Periastron frequency:
			\(\Omega_p (j,\cE) = \frac{\Delta\Phi}{T_p}\)
		  </li>
		  <li>Azimuthal frequency:
			\(\Omega_\phi\equiv\Omega_r+\Omega_p=\frac{2\pi}{T_p}\left(1+\frac{\Delta\Phi}{2\pi}\right)\)
		  </li>
		  <li>Averaged redshift:
			\(\langle z_a\rangle = 1+\frac{\partial \mu}{\partial m_a} \cE -\Omega_r \frac{\partial}{\partial m_a}\cS_r(j,\cE,m_a) \)
			<a class="inlineRef" href="https://doi.org/10.1103/PhysRevD.92.084021">[LeTiec 15] </a>
		  </li>
		 </ul>
	  </div>

	  <!--
	  <div id="tidal" class="step" data-rel-x="1700" data-rel-y="0" data-rel-to="observables">
		<h2>PM-EFT: Tidal effects for extended <span class="orange">o</span>bjects</h2>
		<div class="refParent">
		  <a href="https://journals.aps.org/prd/abstract/10.1103/PhysRevD.73.104029" class="ref">[Goldberger, Rothstein 06]</a>
		</div>
		$$S_{\rm pp} \mathrel{+}= \sum_a \!\int \!\dd\tau_a\!\left(c^{(a)}_{E^2} E_{\mu\nu} E^{\mu\nu}
		+c^{(a)}_{B^2} B_{\mu\nu} B^{\mu\nu} - c^{(a)}_{{\tilde E}^2} E_{\mu\nu\alpha}  E^{\mu\nu\alpha} -  c^{(a)}_{{\tilde B}^2} B_{\mu\nu\alpha} B^{\mu\nu\alpha}+\cdots \right)$$
		with operators
		$$\begin{align}
E_{\alpha\beta} &= R_{\mu\alpha\nu\beta} v^\mu v^\nu\,, &  B_{\alpha\beta} &= R^\star_{\mu\alpha\nu\beta} v^\mu v^\nu, \\
		E_{\alpha\beta\gamma} &= \nabla^\perp_{\{\alpha} R_{\beta\rho\gamma \} \nu} v^\rho v^\nu\,, & B_{\alpha\beta\gamma} &= \nabla^\perp_{\{\alpha} R^\star_{\beta\rho\gamma \} \nu} v^\rho v^\nu\end{align}$$
		<div class="refParent">
		  <a href="https://arxiv.org/pdf/2008.06047.pdf" class="ref">[w/ Z. Liu, R. Porto 20]</a>
		</div>
		Use same setup as before and compute:
		<p class="center">
		  <img id="tidalFig" src="figures/graphsEFTTidal.svg" alt="EFT graphs">
		</p>
		<ul>
		  <li>Reproduced quadrupole corrections at NLO PM <a href="https://arxiv.org/abs/2006.06665" class="inlineRef">[Cheung, Solon 20]</a></li>
		  <li>Novel octupole corrections at NLO PM</li>
		  <li>Analytic continuation works as before</li>
		  <li>Binding energy for circular orbits at \(\cO(G^3)\)</li>
		</ul>
	  </div>

	  <div id="spin" class="step" data-rel-x="1700" data-rel-y="0">
		<h2>PM-EFT<span class="orange">:</span> Spinning extended objects</h2>
		<div class="refParent">
		  <span class="ref">[Porto; Porto, Rothstein; ...]</span>
		</div>
		$$S_{\rm pp} \mathrel{+}= -\frac{1}{2}\sum_a \int \dd\tau_a S_{ab}(\tau_a)\omega_\mu^{ab}(\tau_a)\dot{x}_a^\mu(\tau_a)\,,$$
		with spin connection \(\omega_\mu^{ab}\).
		<ul>
		  <li>We can use the same setup for the PM expansion</li>
		  <li>Need to simultaneously solve e.o.m. for the spin tensor:
			$$\frac{\dd S^{ab}}{\dd\tau} = \{S^{ab},\cL_\textrm{int}\}$$
		  </li>
		  <li>Work in progress with Z. Liu, R. Porto, Z. Yang.</li>
		  <li>The amplitude at 2PM for spin-orbit effects has been worked out by <a href="https://arxiv.org/abs/2005.03071" class="inlineRef">[Bern, Luna, Roiban, Shen, Zeng 20]</a>
		</ul>
	  </div>
	  -->

	  <div id="conclusions" class="step" data-rel-x="1700" data-rel-y="0">
		<h2>Conclusions</h2>
		<ul>
		  <li>Theorists need to prepare for next generation gravitational wave detectors: More templates!</li>
		  <li>We developed an efficient PM EFT framework, allows us to include tidal effects and spin.</li>
		  <li>Mapping (conservative & non-spinning) scattering data to orbital observables does not require a Hamiltonian. Analytic continuation does the job.</li>
		  <li>Analytic continuation also works the special case of aligned spins.</li>
		  <li>The (classical) amplitude, the scattering angle, and the momentum along the trajectory contain the same information.</li>
		  <li>We have these relations in exact form, useful for e.g. numerical computation, as well as in PM expanded form to all orders (purely combinatorial).</li>
		</ul>
	  </div>

	  <div id="outlook" class="step" data-rel-x="1700" data-rel-y="0">
		<h2>Outlook</h2>
		<ul>
		  <li>Analytic continuation for arbitrary spin? Radiation? Radiation-reaction? Tail?</li>
		  <li>PM-EFT with spin: soon!</li>
		  <li>Conservative scattering angle at 4PM: We have all the technology.</li>
		  <li>We can resum certain quantities. More work required. (Ask me about it if you are interested!)</li>
		  <li>Non-perturbative nature of identities invites for numerical studies.</li>
		</ul>
	  </div>

	  <div id="final" class="step" data-rel-x="0" data-rel-y="660">
		<p class="center">
		  <img id="mainFig" src="figures/main.svg" alt="scattering">
		</p>
		<p class="small">
		  This research is supported by the ERC-CoG “Precision Gravity: From the LHC to LISA” provided by the European Research Council (ERC) under the European Union’s H2020 research and innovation programme (grant No. 817791), by the DFG under Germany’s Excellence Strategy ‘Quantum Universe’ (No. 390833306), and by the Knut and Alice Wallenberg Foundation (grant KAW 2018.0441).
		</p>
	  </div>

	  <div id="alignSpin" class="step" data-rel-x="1700" data-rel-y="0" data-rel-to="outlook">
		<h2>Analytic continuation for aligned spins<span class="orange">.</span></h2>
		Idea: extend our map to the aligned spins for binary BH problem.<br/>
		Motion is still in a plane!
		<div class="center">
		<div class="centerBox">
		  $$\frac{\chi(J,\cE)+\chi(-J,\cE)}{2\pi} = \frac{\Delta\Phi(J,\cE)}{2\pi}$$
		  <p class="center small">
			where \(J\) is now the <em>total</em> the total angular momentum, i.e. orbital angular momentum + spins.
		  </p>
		</div>
		</div>
		<ul>
		  <li>Explicit checks for known PN and PM results work neatly!</li>
		  <li>Relies on the invariance of the (canonical) radial momentum \(p_r\) under \(J\rightarrow -J\), which is true for a quasi-isotropic gauge (given to us automatically by the amplitudes construction).</li>
		  <li>We propose a version of the impetus formula to also hold for the aligned spin case.</li>
		</ul>
	  </div>


	  <div id="resummation" class="step" data-rel-x="1700" data-rel-y="0">
		<h2>Resummati<span class="orange">o</span>n</h2>
		<p>
		  Let us truncate our theory at given order \(n\), i.e. \(\cM_m=f_m=0\) for \(m \geq n\).<br/>
		  We can try to resum contributions to all orders in \(G\), e.g. for the scattering angle:
		  <div class="center">
			<div class="centerBox">
			  $$\begin{align*}
			  \frac{\chi[f_1]}{2} &= \Arctan(y/2)\\
			  \frac{\chi[f_{1,2}]+\pi}{2} &= \frac{1}{\sqrt{1-{\cF}_2 y^2}}\left(\frac{\pi}{2} + \Arctan\left(\frac{y}{2\sqrt{1-{\cF}_2 y^2}}\right)\right)
			  \end{align*}$$
			  <p class="center small">
				with \(y \equiv G M f_1/b\) and \(\cF_2 \equiv f_2/f_1^2\)
			  </p>
			</div>
		  </div>
		</p>
		<ul>
		  <li> Resummation of \(\Delta\phi\) works similar to \(\chi\).</li>
		  <li> We can resum parts of \(\cS_r\).</li>
		  <li> We can resum \(f_{1,2}\) contributions for \(r_\textrm{min}\) and \(r_\pm\). ("closed form" for real positive roots of arbitrary order polynomial?)</li>
		  <li> Difficult for \(f_{1,2,3}\). Anyone can do it?</li>
		</ul>
      </div>

	  <div id="circ" class="step" data-rel-x="1700" data-rel-y="0">
		<h2>Circular <span class="orange">o</span>rbit</h2>
		<p>
		  Solve \(r_+(J) = r_-(J)\)
		  $$\Leftrightarrow -2 \sum_{n=0}^\infty \left(\frac{1}{\sqrt{\pi}}\left(\frac{GM}{b}\right)^{2n+1}\frac{\Gamma\left(\frac{2n+1}{2}\right)}{\Gamma(n+1)}\chi_b^{(2n+1)}\right) = i \pi + 2\pi i \mathbb{N}$$
		  to find \(j(\cE) \) and compute the radial frequency:
		  $$GM\Omega_{\rm circ} = \left(\frac{\dd\, j({\cal E})}{\dd\, {\cal E}}\right)^{-1}$$
		  Need to resum for a truncated theory \(f_i=0\) for \(i\geq n\)!
		  <br/>
		  We can invert to write the binding energy \(\epsilon\equiv -2 \cE\):
		  $$\begin{aligned}
		  \epsilon =&x \left[1 - \frac{x}{12}(9+\nu) - \frac{x^2}{8}\left(27 -19\nu + \frac{\nu^2}{3}\right)\right.+\frac{x^3}{32}\left(\frac{535}{6}-\frac{5585\nu}{6}+135\nu^2-\frac{35\nu^3}{162}\right) \\
		  &+ \left.\frac{x^4}{384}\left(-10171+\frac{559993}{15}\nu-\frac{34027\nu^2}{3}+\frac{11354\nu^3}{9}+\frac{77\nu^4}{81}\right) + {\cal O}(x^5)\right]
		  \end{aligned}$$
		  using the standard PN parameter \(x \equiv (GM \Omega_{\rm circ})^{2/3}\).
		</p>
	  </div>
	  
  	</div>

	<div id="impress-toolbar"></div>

	<!--
	<div class="hint">
      <p>Use a spacebar or arrow keys to navigate. <br/>
		Press 'P' to launch speaker console.</p>
	</div>
	-->
	<script>
	  if ("ontouchstart" in document.documentElement) { 
		  document.querySelector(".hint").innerHTML = "<p>Swipe left or right to navigate</p>";
	  }
	  </script>

	<script src="js/impress.js"></script>
	<script>impress().init();</script>

	<script type="text/javascript">
	  //play and pause video when entering and leaving slide
	  const vid = document.querySelector('video');
	  const vidSlide = document.getElementById('mergerClip');

	  //which mutations to observe
	  const config = {attributes: true};

	  function playVid() {
		  vid.play();
	  };
	  function stopVid() {
		  vid.pause();
		  vid.currentTime = 0;
	  };

	  //handle the class attribute change of the 
	  const callback = function(mutationsList, observer) {
		  for (let mutation of mutationsList) {
			  if (mutation.type == 'attributes' && mutation.attributeName == 'class') {
				  if (mutation.target.classList.contains('active')) {
					  playVid();
				  } else {
					  stopVid();
				  }
			  }
		  }
	  };

	  const observer = new MutationObserver(callback);

	  observer.observe(vidSlide, config);
	</script>

  </body>
</html>
